:root{
  --background-light: 247 247 247;
  --background-dark: 24 24 31;
}

html {
  scroll-behavior: smooth;
}

.mdx-content img:not(.diagram){
    border: 2px solid rgb(var(--primary-dark));
}

.dark\:bg-gray-500:is(.dark *){
  background: transparent;
}